body {
    margin: 0;
}

main {
    margin: 0;
}

/* NAVBAR CUSTOM */
.logo-custom {
    position: absolute;
    left: 50%;
    margin-top: 60px;
}

.navbar-custom-space {
    margin-top: 100px;
}

.bg-cunstom {
    background-color: #ececec;
}

/* HEADER CUSTOM */
header {
    height: 80vh;
    background-image:
    linear-gradient(to bottom, rgb(255, 255, 255), rgba(117, 19, 93, 0)),
    url('./media/switzerland-862870_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

.cap {
    text-transform: capitalize;
}

.icon-width img {
    width: 50px;
}

.border-card {
    border-bottom: 3px solid darkred;
    position: relative;
}

.border-card::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid darkred;
    position: absolute;
    bottom: -11px;
    transform: translate(-50%, 0px);
}

.height-desc-custom {
    height: 50vh;
}


h2 {

    color: darkred;
}

.footer-text-color {
    color: white;
}

.btn-primary {
    background-color: darkred;

}

/* timeline */

.timeline {
    width: 50%;
    border-left: 4px solid darkred;
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
}
.timeline h2::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid darkred;
    position: absolute;
    left: -2px;
    transform: translate(-50%, 0px);
}

/* our team */

.img-our-team {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid darkred;
}

/* our benefit */

.img-our-benefit {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid darkred;
}

.img-fluid {
    width: 600px;
    height: 450px;
    left: 10px;
    
}


/* MEDIA QUERIES */

@media screen and (max-width:576px) {

    .media-icona {
        
        width: 80%;
    }
    
}


@media screen and (min-width:768px) {
 
    .list-group {

        flex-direction: column;
    }

    ul {

        list-style-type: disc;
        margin-left: 20px;
    }

}

@media screen and (max-width:768px) {

    ul {
        list-style-type: none;
    }

}


        /* font/ */


h1, h2 {
    color: darkred;
    font-family: "nova square", sans-serif;
}

h4 {
    font-family: "rajdhani";
    color: darkred;
}
p{
    font-family: "rajdhani";
}

i{
    color: darkred;
}



